.NavBar_Container{
    height: 10vh;
    width: 87vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px ;
    z-index: 1;
}
.NavBar_Container_search{
    width: 10%;
}
.NavBar_Container_search input{
    width: 80%;
    height: 20px;
    padding: 10px 10px;
    border-radius: 25px;
    border: solid 0.5px grey;
}
.NavBar_Container_right_cart{
    cursor: pointer;
    position: relative;
}
.NavBar_Container_right_cart_image{
    font-size: 30px;
}
.NavBar_Container_right_cart_value{
position: absolute;
top: -14px;
right: 10px;
color: rgb(6, 99, 6);
}
.NavBar_Container_right_order{
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
.NavBar_Container_right{
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}
.NavBar_Container_left img{
    width: 140px;
    
}
.NavBar_Container_right_button button{
    padding: 7px 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    border: none;
    background-color: rgb(101, 230, 101);
    border-radius: 10px;
}
.NavBar_Container_right_manage{
    font-weight: 600;
    cursor: pointer;
}
.NavBar_Container_right_location{
    cursor: pointer;
}
